# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_analytics
DB_USER=postgres
DB_PASSWORD=your_password_here

# API
API_BASE_URL=https://fakestoreapi.com
API_TIMEOUT=10
API_RETRIES=3

# Storage
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed

# Kafka (Phase 4)
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_ORDERS=orders-stream

# Monitoring (Phase 5)
ALERT_EMAIL=you@example.com
